<div class="container">
    <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title text-center">Weather</div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <img src="assets/images/weather.jpg" alt="news" style="width: 200px;height: 100px; margin-right: auto; margin-left: auto; display: block;" />
                <br>
                <input #city ngModel type="text" style="width: 100%;padding: 10px;" placeholder="Search the city">
                <br><br>
                <button type="submit" class="btn-success" (click)="getWeatherDetails(city.value)">Search</button>
            </div>
        </div>
        <div *ngIf="isCityAvai">
            City :{{city}}
            <br><br> Country :{{country}}
            <br><br> Temperature : {{temperature | number}} °C
            <br><br> Humidity :{{humidity}} g.kg-1
        </div>
        <div *ngIf="statusMessage">
            <h3>{{statusMessage}} </h3>
        </div>
        <br>
    </div>


</div>